<%- include("header"); %>

    <div class="box" id="heading">
        <h1>
            <%=listTitle%>
        </h1>
    </div>
    <div class="box">
        <% for (let i=0; i < items.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=items[i]%>
                </p>
            </div>
            <% } %>

                <form action='/' method="POST">
                    <input type="text" placeholder="New Item" name="newItem" required autofocus autocomplete="off">
                    <button type="submit" name="list" value="<%=listTitle %>">+</button>
                </form>
    </div>

    <%- include("footer"); %>